.custom-select {
   position: relative;
   width: 100%;
}

.custom-select-trigger {

   width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px;
   cursor: pointer;
   padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gradient-primary);
  background: var(--glass-bg);
  color: var(--text-primary);
  font-size: 1rem;
  box-shadow: var(--box-shadow);
}

.custom-select-dropdown {

   position: absolute;

   top: calc(100% + 5px);

   left: 0;

   width: 100%;

   overflow: hidden;

   border-radius: 8px;

   border: 1px solid
      var(--glass-border);

   background:
      var(--bg-card);

   box-shadow:
      var(--shadow-primary);

   z-index: 999;

   animation:
      fadeIn 0.5s ease;
}

@keyframes fadeIn {

   from {
      opacity: 0;
      transform:
         translateY(-10px);
   }

   to {
      opacity: 1;
      transform:
         translateY(0);
   }

}

.custom-select-option {
   padding: 1rem;
   font-size: 1.2rem;
   font-weight: bold;
   cursor: pointer;



   transition:
      background-color 0.2s ease;
}

.placeholder{
    padding-right: 5px;
}

.custom-select-option:hover {

   background:
      rgba(182,90,27,0.15);
}

.custom-select-arrow {
   transition:
      transform 0.5s ease;
}

.custom-select-arrow.open {

   transform:
      rotate(-180deg);
}

