.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.293);
    position: relative;
}

.navbar h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.link-slide {
    position: absolute;
    top: 90px; 
    right: 20px; 
    background: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    list-style: none;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation: slideIn 0.3s ease;
    z-index: 10;
}

.link-slide li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.2s;
}

.link-slide li {
    font-size: 20px;
    padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}


.link-slide li a:hover {
    color: #007bff;
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.details-btns {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .link-slide{
        flex-direction: row;
        width: 550px;
    }
}