.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    width: 100%;
  max-width: none;
}



.project-header button{
    border: 2px solid rgba(0, 0, 0, 0.31);
    background: rgb(0, 68, 255);
    border-radius: 5px;
    width: 350px;
    height: 100px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* flexible column width */
    gap: 2rem;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 1200px;    /* or any max width you prefer */
    margin: 0 auto;       /* center horizontally */
    padding: 0 1rem;      /* optional side padding */
}


.proj-card {
    max-width: 400px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.443);
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proj-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


.details {
    display: flex;
    justify-content: space-between;
}


.proj-card button {
    border: none;
    background: transparent;
    padding: 4px;
    font-size: 1.01em;
    background: rgba(0, 252, 248, 0.375);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.titles {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.titles h3 {
    color: black;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.titles p {
    text-transform:uppercase;
}

.titles span {
    color: rgb(0, 128, 233);
}

.proj-info {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-top: 10px;
}
